   <form action="/Home/PublicRegister" method="post" enctype="multipart/form-data">
    <h4>Create a new account.</h4>
    <hr />
    <div class="text-danger"></div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Name" required>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>DOB</label>
        <input type="date" class="form-control" name="DOB" required>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="Email" placeholder="Email">
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>NRC</label>
        <input type="text" class="form-control" name="NRC" placeholder="NRC" required>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Address</label>
        <textarea name="Address" class="form-control"></textarea>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" name="Phone" placeholder="Phone" required>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>FatherName</label>
        <input type="text" class="form-control" name="FatherName" required>
        <span class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="input-group mb-3" id="imageUpload">
            <input type="file" class="form-control-file" id="Photo" name="Photo">
        </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Register</button>
</form>