<div class="content-wrapper">
    @model IList<LessonViewModel>
   <div style="padding:3%">
     <h1 style="margin-bottom: 50px;">@Model[0].CourseName</h1>
     <ol>
         @foreach (var t in Model)
         {
            <li><a href="/Student/Course/Lesson/Learn?lessonId=@t.Id&courseId=@Model[0].CourseId">@t.Name</a></li>
         }
      
       
     </ol>
        
   </div>
</div>