<div class="content-wrapper">
    @model IList<CourseViewModel>

    <h1>List All Courses</h1>

    @*<a href="/Teacher/Entry" class="btn btn-info" role="button">Create</a>*@
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>


                <td>Action</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.Name</td>
                    <td>@Html.Raw(t.Description)</td>

                    <td><a href="/Student/Edit?courseId=@t.Id" class="btn btn-success" role="button">Edit</a></td>
                    <td><a href="/Student/EnrollCourse?courseId=@t.Id" class="btn btn-danger" onclick="return confirm('Are you sure to ehroll this course?')">Enroll</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
