<div class="content-wrapper">
    @model IList<LessonViewModel>
    @using System.Text.RegularExpressions;

    @{
        var linkRegex = new Regex(@"^(http|https|ftp)://.*$");
    }
        <div style="padding: 3%;">
        <h1>List All Lessons</h1>
        @foreach (var t in Model)
            {
                <div class="card" style="width: 30rem; border-radius:10px;">
                @if (t.FilePath != null && linkRegex.IsMatch(t.FilePath))
                    {
                       
                         if (Regex.IsMatch(t.FilePath, @"\.(jpg|jpeg|png|gif)$", RegexOptions.IgnoreCase))
                        {
                            <img src="@t.FilePath" class="card-img-top" alt="...">
                        }
                        else
                        {
                              <iframe class="embed-responsive-item" src="@t.FilePath" allowfullscreen></iframe>
                        }

                    }
                    else @if (t.FilePath != null && !linkRegex.IsMatch(t.FilePath))
                    {
                        if (Regex.IsMatch(t.FilePath, @"\.(mp4|avi|mov|wmv|flv|mkv)$", RegexOptions.IgnoreCase))
                        {
                            <video controls class="embed-responsive-item">
                                <source src="~/uploads/lesson/@t.FilePath">
                            </video>
                        }
                        else if (Regex.IsMatch(t.FilePath, @"\.(jpg|jpeg|png|gif)$", RegexOptions.IgnoreCase))
                        {
                            <img src="~/uploads/lesson/@t.FilePath" class="card-img-top" alt="...">
                        }
                    }
                   
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h5 class="card-title">@t.Name</h5></li>
                            <li class="list-group-item"><p class="card-text">@Html.Raw(t.Description)</p></li>
                            <li class="list-group-item"><p class="card-text">Course Name-@t.CourseName</p></li>
                            <li class="list-group-item"><a href="/Instructor/Course/Lesson/Quiz?lessonId=@t.Id" class="btn btn-primary">Show Quizs</a></li>
                        </ul>
                        
                    </div>
                </div>

            }
        </div>
</div>